body {
  background: #161a1e;
  color: white;
}

.moive-list > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.poster-img {
  margin-right: 1vmin;
  margin-bottom: 3vmin;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
}

.movie-poster {
  position: relative;
  transition: transfrom 0.2s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.movie-poster:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.movie-poster:hover .add-nomination-container {
  opacity: 0.8;
}

.add-nomination-container {
  position: absolute;
  background: #161a1e;
  width: 90%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 3vmin;
  margin-left: 1vmin;
  display: flex;
  justify-content: center;
}
